<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=>
    <title>home page</title>
</head>
<body>
    <p id="first">TESTING INSTRUCTION</p>
    <div>
    <p>Quiz:Test Details</p>
    <div>
        <ul>
            <li>This test is avaiable between Nov 11,2022 and Nov 15,2022 at 9:00 AM</li>
            <li><span style="font-weight: bolder;"> have 60 minutes total to complete this test.</span>The timer start once you click <span style="font-weight:bolder">"Begin test."</span> You cannot stop or pause timer.</li>
            <li>You may exit or resume this test, However please be aware that the test timer is still running even after you exit the test.</li>
            <li>if the test is exited for any reason after the test end date/time has been reached the test will be closed.</li>
            <li><span style="color: red;">IMPORTANT: </span>Do not use the web browser "back" button during testing.</li>
        </ul>
    </div>
    </div>
</body>
</html>